/* --------------------< Font Import >-------------------- */

/* Arvo */
@font-face {
    font-family: 'Arvo';
    font-weight: 400;
    src: url(../font/Arvo/400.ttf);
}

@font-face {
    font-family: 'Arvo';
    font-weight: 400;
    font-style: italic;
    src: url(../font/Arvo/400_italic.ttf);
}

@font-face {
    font-family: 'Arvo';
    font-weight: 700;
    src: url(../font/Lato/700.ttf);
}

/* Lato */
@font-face {
    font-family: 'Arvo';
    font-weight: 400;
    font-style: italic;
    src: url(../font/Lato/700_italic.ttf);
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url(../font/Lato/700.ttf);
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url(../font/Montserrat/400.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url(../font/Montserrat/700.ttf);
}

/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url(../font/Open_Sans/400.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url(../font/Open_Sans/700.ttf);
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../font/Roboto/400.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(../font/Roboto/700.ttf);
}



/* --------------------< Universal Styles >-------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #EAEAEA;
    background-color: #121212;
    padding: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #EAEAEA;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h2, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #EAEAEA;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #EAEAEA;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

span, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #EAEAEA;
}

a {
    font-weight: 400;
    color: #2c96ff;
    text-decoration: none;
}

a:hover {
    font-weight: 400;
    color: #EAEAEA;
}

img {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.crop-web {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

::-moz-selection {
    background: rgb(61, 61, 61);
}
  
::selection {
    background: rgb(61, 61, 61);
}

.project-container {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: start;
    padding: 13px;
    padding-bottom: 7px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

div.project-base {
    margin-bottom: 10px;
}

div.project {
    border: 2px solid #242424;
    border-radius: 20px;
}

span.project, p.project {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #a8a8a8;
}

img.project {
    border-radius: 20%;
}

/* --------------------< Styles for social networks >-------------------- */

/* Instagram */
img.social-instagram {
    width: 40px;
    height: 40px;
    background-image: url('../img/social_media/v2/instagram/instagram_white/instagram-48.png');
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}

img.social-instagram:hover {
    background-image: url('../img/social_media/v2/instagram/instagram_grey/instagram-48.png');
}

/* GitHub */
img.social-github {
    width: 40px;
    height: 40px;
    background-image: url('../img/social_media/v2/github/github_white/github-48.png');
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}

img.social-github:hover {
    background-image: url('../img/social_media/v2/github/github_grey/github-48.png');
}

/* Discord */
img.social-discord {
    width: 40px;
    height: 40px;
    background-image: url('../img/social_media/v2/discord/discord_white/discord-48.png');
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}

img.social-discord:hover {
    background-image: url('../img/social_media/v2/discord/discord_grey/discord-48.png');
}

/* Steam */
img.social-steam {
    width: 40px;
    height: 40px;
    background-image: url('../img/social_media/v2/steam/steam_white/steam-48.png');
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}

img.social-steam:hover {
    background-image: url('../img/social_media/v2/steam/steam_grey/steam-48.png');
}